<%-include("partials/head.ejs")%>

<%-include("partials/navbar.ejs")%>

<main class="main">
    <h1 class="title">Welcome to the Capstone Blog</h1>

    <% if (locals.posts && locals.posts.length > 0) { %>
        <h2>Posts</h2>
        <ul>
            <% posts.forEach(post => { %>
                <li class="post-item">
                    <a href="/post/<%= post.id %>"><h3><%= post.title %></h3></a>
                </li>
            <% }) %>
        </ul>

    <% } else { %>
        <h2>No posts available</h2>
    <% } %>
</main>

<%-include("partials/footer.ejs")%>